{% extends "base.html.twig" %}
{% block navbar %}
    <div class="container-fluid">
        <div role="navigation" class="navbar navbar-static-top text-center">
            <a href="{{ path('fs_basic_homepage') }}">
                {% image '@FSUdorasBundle/Resources/public/images/logo-gray.png' %}
                <img src="{{ asset_url }}" alt="Logo" id="logo"/>
                {% endimage %}
            </a>
        </div>
    </div>
{% endblock navbar %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <main class="text-center">
        <h2>Sorry, the page you were looking for doesn't exist.</h2>
        <a href="{{ path('fs_basic_homepage') }}" class="btn btn-yellow btn-lg btn-tall btn-shadow">Home</a>
    </main>
{% endblock %}