<div class="modal-content">
    <div class="modal-header">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4>Successful Payment</h4>
            </div>
        </div>
    </div>

    <div class="modal-body">
        <p class="text-center">
            Now you have {{ amount }} paid trainings.
            <br>
            The first {{ amount }} employees will be able to take training right away, others will need to pay for the training themselves.
        </p>
    </div>

    <div class="modal-footer">
        <div class="row text-center">
            <button class="btn" data-dismiss="modal">
                Close
            </button>
        </div>
    </div>
</div>