<div class="audio">
    <div class="col-sm-8 col-sm-offset-2">
        <h3 class="text-center">{{ slide.extraFields['audioName'] }}</h3>
        <audio controls class="col-sm-12">
            <source src="{{ slide.slideData }}">
        </audio>
    </div>
</div>