<footer class="footer">
    <div class="container">
        <p class="text-center">
            &copy; uDoras {{ 'now'|date('Y') }}
            <a href="mailto:support@udoras.com" class="support">support@udoras.com</a>
            <a href="{{ path('fs_basic_privacy_policy_page') }}" class="privacy">Privacy policy</a>
            <a href="{{ path('fs_basic_terms_page') }}" class="privacy terms">Terms of Use</a>
        </p>
    </div>
</footer>