<div class="row">
    <p class="col-sm-4 profile-header">
        Link
    </p>
    <p class="col-sm-8 link" >
        <a href="{{ path('show_training_program', {'link': trainingProgram.link}) }}">
            {{ url('show_training_program', {'link': trainingProgram.link}) }}
        </a>
    </p>
</div>