<div class="modal-header">
    <h4 class="text-center">Requests have been sent!</h4>
</div>
<div class="modal-body">
    <p class="text-center">
        Users will also receive an email with a link to training.
    </p>
</div>
<div class="modal-body text-center">
    <button class="btn btn-default" data-dismiss="modal">
        Close
    </button>
</div>