{# @Acme/Navbar/navbar.html.twig #}
{% extends '@MopaBootstrap/Navbar/navbar.html.twig' %}

{% block menu %}
    {{ mopa_bootstrap_menu("FSUdoraBundle:Builder:mainMenu") }}
{% endblock %}

{% block brand %}
    <a class="navbar-brand" href="{{ path('fs_basic_homepage') }}">uDora</a>
{% endblock %}