<div class="modal-content">
    <div class="modal-header">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4>Book Training</h4>
            </div>
        </div>
    </div>

    <div class="modal-body">
        <p class="text-center">
            Sorry, but there aren't any paid slots left for this training.
            <br>
        </p>
    </div>

    <div class="modal-footer">
        <div class="row text-center">
            <button class="btn btn-default" data-dismiss="modal">
                Close
            </button>
        </div>
    </div>
</div>
