{% extends "base.html.twig" %}

{% block navbar %}
    {% include "@FSUser/registrationHeader.html.twig" %}
    <header>
        <div class="container-fluid text-center">
            <h2>Set Password</h2>
        </div>
    </header>
{% endblock navbar %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <form method="POST" class="password-change-form form-horizontal">
                {{ form_row(form.plainPassword.first) }}
                {{ form_row(form.plainPassword.second, {'label':"Confirm New Password:"}) }}
                {{ form_rest(form) }}
                <div class="form-group text-center tall">
                    <input class="btn btn-lg btn-shadow" type="submit" id="_submit" name="_submit"
                           value="{{ 'Set Password' }}"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
