<div class="modal-content share-certificate">
    <div class="modal-header">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4>{{ text }} have been sent!</h4>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="row">
            <div class="col-sm-12 text-center">
                <button class="btn" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>